{%- set generieke_kenmerken = ['name', 'definitie', 'bron', 'version'] -%}
{%- set package_kenmerken = generieke_kenmerken + [] -%}
{%- set object_kenmerken = generieke_kenmerken + ['domein_iv3', 'domein_dcat', 'gemma_naam', 'gemma_type', 'gemma_url', 'gemma_definitie', 'gemma_toelichting'] -%}
{%- set object_kenmerken = generieke_kenmerken -%}
## Objecttypen {{ package.name }}
{# Classes #}
{% for class in package.classes|sort(attribute='name') %}
### {{ class.name }}

Het objecttype {{ class.name }} kent de volgende eigenschappen:

| Eigenschap | Waarde |
| :--- | :------ |
{% for kenmerk in object_kenmerken %}| {{ kenmerk }} | {{ class.to_dict().get(kenmerk,'')|default("", true)|del_newline()|set_url() }} |
{% endfor %}

Attributen van objecttype {{ class.name }}:
{% set attributen = class.attributes|rejectattr('name','none')|list %}
| Attribuut | Datatype | Omschrijving | Verplicht |
| :--- | :--- | :--- | :--- |
{% for attribute in attributen|sort(attribute='name') %}| {{ attribute.name }} | {{ attribute.getDatatype()|default("", true) }} | {{ attribute.definitie|default("", true)|del_newline()|set_url() }} | Nee |
{% endfor %}

{% endfor %}
{# Enumerations #}
{% if package.enumerations|length > 0 %}

## Enumeraties {{ package.name }}

{% for enumeration in package.enumerations|sort(attribute='name') %}
### {{ enumeration.name }}
{{ enumeration.definitie|default("Geen Definitie", true)|md_newline() }}

Het enumeratie {{ enumeration.name }} kent de volgende waarden:

{% for literal in enumeration.literals %}{% if literal.name is not none %}* **{{ literal.name }}**: {{ literal.definitie|default("<Geen Definities>", true)  }}{% endif %}
{% endfor %}

De enumeratie {{ enumeration.name }} heeft de volgende kenmerken:

| Kenmerk | Waarde |
| :--- | :------ |
{% for kenmerk in object_kenmerken %}| {{ kenmerk }} | {{ enumeration.to_dict().get(kenmerk,'') }} |
{% endfor %}

{% endfor %}
{% endif %}

