# {{ package.name }}
{{ package.definitie|default("", true) }}

Het model '{{ package.name }}' kent de volgende objecttypen:

{% for class in package.classes %}* **{{ class.name }}**: {{ class.definitie|default("<Geen Definities>", true)  }}
{% endfor %}

{% if package.enumerations|length > 0 %}
Het model '{{ package.name }}' kent de volgende enumeraties:

{% for enumeratie in package.enumerations %}* **{{ enumeratie.name }}**: {{ enumeratie.definitie|default("<Geen Definities>", true)  }}
{% endfor %}
{% endif %}

## Kenmerken

Het model '{{ package.name }}' heeft de volgende kenmerken:

| Kenmerk | Waarde |
| :--- | :------ |
{% for name, value in package.to_dict().items() %}| {{ name }} | {{ value|default("", true) }} |
{% endfor %}

## Objecttypen

{# Classes #}
{% for class in package.classes %}
### {{ class.name }}
{{ class.definitie }}

Het objecttype {{ class.name }} kent de volgende attributen:

{% for attribute in class.attributes %}{% if attribute.name is not none %}* **{{ attribute.name }}**: {{ attribute.definitie|default("<Geen Definities>", true)  }}{% endif %}
{% endfor %}

Het objecttype {{ class.name }} heeft de volgende kenmerken:

| Kenmerk | Waarde |
| :--- | :------ |
{% for name, value in class.to_dict().items() %}| {{ name }} | {{ value|default("", true) }} |
{% endfor %}

#### Attributen 

Het objecttype {{ class.name }} heeft de volgende attributen:

| Attribute | Datatype | Description |
| :--- | :--- | :--- |
{% for attribute in class.attributes %}{% if attribute.name is not none %}| {{ attribute.name }} | {{ attribute.getDatatype()|default("", true) }} | {{ attribute.definitie|default("", true) }} |{% endif %}
{% endfor %}

{% endfor %}

{# Enumerations #}
{% if package.enumerations|length > 0 %}

## Enumeraties

{% for enumeration in package.enumerations %}
## Enumeratie: {{ enumeration.name }}
{{ enumeration.definitie|default("", true) }}

Het enumeratie {{ enumeration.name }} kent de volgende waarden:

{% for literal in enumeration.literals %}{% if literal.name is not none %}* **{{ literal.name }}**: {{ literal.definitie|default("<Geen Definities>", true)  }}{% endif %}
{% endfor %}

### Kenmerken en waarden

De enumeratie {{ enumeration.name }} heeft de volgende kenmerken:

| Kenmerk | Waarde |
| :--- | :------ |
{% for name, value in enumeration.to_dict().items() %}| {{ name }} | {{ value|default("", true) }} |
{% endfor %}

{% endfor %}
{% endif %}

